html {
    background-color: $bgColor;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "left right"
    ;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: $fontColor;

    div {
        background-color: $divColor;
        border-radius: 20px;
        margin: 20px;

    header {
        nav {
            display: flex;
            justify-content: space-between;
            padding: 15px 15px 0px 15px;
            background-color: $navColor;
            border-radius: 20px 20px 0px 0px;
            border-bottom: solid;
        }
    
        .iconLogo {
            width: 100px;
        }
    
        .menuLogo {
            height: 60px;
        }
    }

    main {
        img {
            width: 36em;
        }

        .imgPoster {        
            margin-top: 120px;
            width: 38em;
        }

        .imgChara {
            width: 13em;
            padding: 15px 15px 0px 15px;
        }

        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
            padding: 10px;
            
            a:link { 
                text-decoration: none; 
              } 
            a:visited { 
            text-decoration: none; 
            } 
        }   
                
        section {            
            display: flex;
            flex-direction: column;
            align-items: center;

            .crunchyAd {
                margin: 200px 0px;
            }

            .charaStyle {
                p {
                    text-align: center;
                }
            }

            .formStyle {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:  11px;
                padding: 15px;
                border-radius: 15px;
                background-color: rgb(225, 225, 225);    

                select, option {
                    width: 300px;
                    height: 40px;
                    font-size: 1rem;
                    text-align: center;
                }

                input[type='number']{
                    width: 290px;
                    height: 35px;
                    font-size: 1rem;
                    text-align: center;
                }                
    
                label {
                    font-weight: bold;
                }

                input[type=text] {
                    width: 400px;
                    padding: 7px;
                    margin: 8px 0;
                    box-sizing: border-box;
                    font-size: 1rem;
                    }
            }

            p {
                margin-bottom: 30px;
            }

            a:link { 
                text-decoration: none; 
              } 
              a:visited { 
                text-decoration: none; 
              } 
        }
    }

    footer {
                display: flex;
                justify-content: center;   
                padding: 10px;
                text-align: center;        
    }
    }
}



@media screen and (max-width: 78em) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "left"
            "right"
        ;
    }

    body {
        div {
            main {
                .imgPoster {        
                    margin-top: 50px;
                    width: 25em;
                    margin-left: 10px;
                }

                img {
                    width: 30em;
                    margin-left: 50px;
                }

                .imgChara {                    
                    width: 20em;
                    margin: 0;
                }

                h3 {                
                    width: 93%;                
                    font-size: 1.3rem;
                }   

                p{
                    padding: 10px;
                }

                .leftMenu {
                    width: 40%;
        
                    button {
                        width: 50px;
                        height: 50px;
                        margin-left: 280px;
                    }
                }

                section {
                    .imgCrunchy {
                        width: 30em;
                        margin: 0px 0px 20px 0px;
                    }

                    form {
                        margin-bottom: -50px;
                    }
                }
            }
        }      
    }

    footer {
        padding: 10px;
        text-align: center;
    }
}

